temp/
figs/
figs/*
*.csv
gemm_temp_monitor.py
runs/
runs_no_reasoning/
tmp_test/
logs/
spec_act_runs/
*.pyc
__pycache__/
sh/
plot/
tests/
tmp_tests/
data/
*.txt
get_time_analysis.py
pyrightconfig.json